<div class="card" ng-if="itemDetails">
  <div class="card-body">
    <h5 class="card-title">{{ itemDetails.trackName }}</h5>
    <h5 class="card-title">{{ itemDetails.artistName }}</h5>
    <p class="card-text" ng-if="itemDetails.collectionName">From  {{ itemDetails.collectionName }}</p>
    <p class="card-text">${{ itemDetails.trackPrice }}</p>
    <p class="card-text" ng-if="itemDetails.shortDescription">{{ itemDetails.shortDescription }}</p>
    <p class="card-text">
      <small class="text-muted"><a href="{{ itemDetails.trackViewUrl }}">View on iTunes</a></small>
    </p>
  </div>
  <img class="card-img" ng-src="{{ itemDetails.artworkUrl100 | resizeImage:1000 }}"
       alt="{{ itemDetails.artistName }} - {{ itemDetails.trackName }}">
</div>
