<div class="jumbotron">
  <h1 class="display-4 text-center">Search iTunes</h1>
  <div class="row justify-content-center">
    <form ng-submit="search()" class="w-75">
      <div class="input-group mb-3">
        <input type="text"
               class="form-control"
               ng-model="searchText"
               placeholder="Enter a song, artist, movie, etc">
        <div class="input-group-append">
          <button class="btn btn-outline" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  <div class="text-center mb-3">
    <div ng-if="submitting && !response">Loading...</div>
    <div ng-if="response">
      <pagination change-page="changePage"
                  num-results="response.results.length"
                  limit="limit"
                  offset="offset"></pagination>
      <div class="row text-center card-deck">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-3" ng-repeat="item in response.results | limitTo:limit:offset">
          <movie-card ng-if="item.kind==='feature-movie'"
                      movie="item"></movie-card>
          <music-card ng-if="item.kind!=='feature-movie'"
                      song="item"></music-card>
        </div>
      </div>
      <div class="text-center mb-3">
        <pagination change-page="changePage"
                    num-results="response.results.length"
                    limit="limit"
                    offset="offset"></pagination>
      </div>
    </div>
  </div>
</div>
